<div class="container table-container">
    <h2>Liste des Utilisateurs</h2>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Email</th>
          <th scope="col">Rôle</th>
        </tr>
      </thead>
      <tbody id="userTableBody">
        <tr>
            @foreach() {
                
            }
        </tr>
      </tbody>
    </table>
  </div>